/* =========================================
   Reset default Zensical icon
   ========================================= */
.md-status::before,
.md-status::after {
  content: none !important;
}

/* Base styling so the icon displays properly */
.md-status {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  line-height: 1;
}

/* =========================================
   STATUS ICONS (emoji)
   ========================================= */

.md-nav .md-status::before,.md-nav .md-incomplete::after {
  content: "⚠️" !important;
}

.md-nav .md-status-notstarted::after {
  content: "⏳" !important;
}

.md-nav .md-status::after {
  content: none !important;
}

.md-nav .md-status-complete::after {
  content: "✅" !important;
}

